In [47]:
import pandas as pd
import numpy as np

In [53]:
# Load the dataset
df = pd.read_csv("cs-training.csv", index_col=0)
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [55]:
    df.columns = [
    "SeriousDlqin2yrs", "RevolvingUtilization", "Age", 
    "Late30_59", "DebtRatio", "MonthlyIncome", 
    "OpenCreditLines", "Late90", "RealEstateLoans", 
    "Late60_89", "Dependents"
]

In [57]:
df.isnull().sum()

SeriousDlqin2yrs            0
RevolvingUtilization        0
Age                         0
Late30_59                   0
DebtRatio                   0
MonthlyIncome           29731
OpenCreditLines             0
Late90                      0
RealEstateLoans             0
Late60_89                   0
Dependents               3924
dtype: int64

In [65]:
df = df.copy()  # make sure we're working on a full copy

df["MonthlyIncome"] = df["MonthlyIncome"].fillna(df["MonthlyIncome"].median())
df["Dependents"] = df["Dependents"].fillna(0)

In [67]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 1 to 150000
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   SeriousDlqin2yrs      150000 non-null  int64
 1   RevolvingUtilization  150000 non-null  float64
 2   Age                   150000 non-null  int64
 3   Late30_59             150000 non-null  int64
 4   DebtRatio             150000 non-null  float64
 5   MonthlyIncome         150000 non-null  float64
 6   OpenCreditLines       150000 non-null  int64
 7   Late90                150000 non-null  int64
 8   RealEstateLoans       150000 non-null  int64
 9   Late60_89             150000 non-null  int64
 10  Dependents            150000 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 13.7 MB

,SeriousDlqin2yrs,RevolvingUtilization,Age,Late30_59,DebtRatio,MonthlyIncome,OpenCreditLines,Late90,RealEstateLoans,Late60_89,Dependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.418455e+03,8.452760,0.265973,1.018240,0.240387,0.737413
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.289040e+04,5.145951,4.169304,1.129771,4.155179,1.107021
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.903000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,7.400000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [73]:
df.to_csv("cleaned_credit_data.csv", index=False)